{% extends "layout1.html" %}

{% block Title %}
    Apology
{% endblock %}

{% block main %}
    <!-- https://memegen.link/ -->
    <!-- https://knowyourmeme.com/memes/grumpy-cat -->
    <img alt="{{ top }}" class="border img-fluid" src="https://api.memegen.link/images/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background=https://api.memegen.link/images/success/don't_know_a_question_on_the_test/answer_is_in_another_question.jpg'',''template'':''https:.jpg" title="{{ top }}">
{% endblock %}
