{% extends "layout2.html" %}

{% block Title %}
Features:
{% endblock %}

{% block main %}
<p><h3> As a part of community, we conduct regular sports competitions and activities encouraging the members to be "the active members." We also offer several facilities.</h3></p>
<div class="fea"><h3><u><i><code class ="heads">Facilities:</code></i></u></h3>
<br>

<ul><li><code><h5>Cricket Ground:</h5></code> We offer our community a well equipped International Standard Cricket Ground. It is surrounded by seating arrangements. It will be open for almost 19 hrs(6:00 AM to 11:00 PM) except on monday.</li></ul>
<ul><li><code><h5>Gymnasium:</h5> </code> We have Three Gyms. Our largest gym, i.e., <code>GymKindle </code>is highly spacious with a capacity of 75+ people at a same time. It is open for all the Gentlemen and Ladies of the community. The other two gyms, i.e., <code>GymPrayaas</code> and <code>GymShourya</code> are of capacity of 30+ members each and are separately available for Women and Men respectively.</li></ul>

<ul><li><code><h5>Football Ground: </h5></code> We also offer a well set Football ground.</li></ul>
<ul><li><code><h5>Athletic Ground & Track:</h5></code> We have an Athletic ground suitable for Sports like Javelin Throw , Shortput , Hammer throw. That Ground is covered by Running track with the coverage of 500mtrs.</li></ul>
<ul><li><code><h5>Community Park</h5></code> We have very calm Park where anyone can come and spend time with family and people.</li></ul>
</div>
{% endblock %}
