{% extends "layout1.html" %}

{% block Title %}
Sports Registration
{% endblock %}
{% block main %}
<div class= "mb-5"><h1>
Welcome on board Being passionate of Sports? Come on and Join Us In the heavenly place of Surathkal - Mangaluru. Register click on the link below.
Teams will be alloted in random by the sports club without any bias<br>
<small  class="form-text text-muted">(Note: There is charge for jersey. Jerseys are mandatory for a player in any sports.)</small>

</h1></div>
<form action="/form" method="get">
<div class="mb-1"> <button class= "btn btn-info">Register Here!</button></div>
</form>
{% endblock %}
